<div class="container pb-5">



  <h1>Busqueda:
    <small>{{consulta}}</small>
  </h1>
  <hr>

  <div class="row fadeIn animated ">
    <div class="col-md-12">
      <div *ngIf="heroes.length == 0" class="alert alert-danger">No existen resultados con el termino: {{consulta}}</div>
    </div>
  </div>

  <div class="card-columns" >

    <app-tarjeta-heroe (heroeSeleccionado)="verHeroe($event)" [heroe]="heroe" [index]="heroe.index" *ngFor="let heroe of heroes"></app-tarjeta-heroe>

  </div>


</div>
